<?xml version="1.0"?>
<launch>
    <arg name="robot_id" default="ropod_001"/>

    <node pkg="tube_navigation" type="tube_navigation" name="tube_navigation" 
          output="screen">
    <!-- <param name="global_frame_id" value="map"/> -->
    <remap from="~cmd_vel" to="/load/cmd_vel"/> <!-- for BRSU ropod -->
    <remap from="~goal_route" to="/route_planner/result"/> <!-- for BRSU ropod -->
    <remap from="~laser_scan" to="/load/laser_scan"/> <!-- for BRSU ropod -->
    <remap from="~visualization_marker" to="/visualization_marker"/> <!-- for BRSU ropod -->
    <remap from="~/wall/visualization_marker" to="wall/visualization_marker"/> <!-- for BRSU ropod -->
    <remap from="~/outerwall/visualization_marker" to="outerwall/visualization_marker"/>
    </node>
</launch>
