<?xml version="1.0"?>
<launch>
    <arg name="robot_id" default="ropod_001"/>

    <node pkg="tube_navigation" type="tube_navigation" name="tube_navigation" 
          output="screen">
    <remap from="~cmd_vel" to="/ropod_001/cmd_vel"/> <!-- for BRSU ropod -->
    <remap from="~goal_route" to="/route_planner/result"/> <!-- for BRSU ropod -->
    <remap from="~laser_scan" to="/load/laser_scan"/> <!-- for BRSU ropod -->
    <remap from="~robot_pose" to="/ropod_001_amcl/pose"/> <!-- for BRSU ropod -->
    <remap from="~odom_pose" to="/ropod_001/odom"/> <!-- for BRSU ropod -->
    <remap from="~/feeler/visualization_marker" to="feeler/visualization_marker"/> 
    </node>
</launch>
